body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0044cc;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 60px; /* Adjust as needed */

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin: 20px 0;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: auto;
}
h1 {
    text-align: center;
}

.nani{
     margin:26%  auto ;
    text-align: center;
}